---
layout: default
---

{% include initialize.html %}
<div class="bg-header section">
  <div class="bg-header-inner">
    <h1 class="beta">BoxGrid</h1>
    <h3 class="epsilon bg-header-quiet">
      By <a href="http://twitter.com/ellekasai">@ellekasai</a> + <a href="http://twitter.com/chibicode">@chibicode</a>
    </h3>
    <div class="bg-github">
      <iframe src="http://ghbtns.com/github-btn.html?user=ellekasai&repo=boxgrid&type=watch&count=true&size=large"
        allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
    </div>
    <p>
      BoxGrid helps you <em>compare CSS grid systems</em>.<br/>
      &darr; Pick one to get started.
    </p>
    {% include grid-selector.html %}
  </div>
</div>
